<% provide(:title, "Search") %>
<h1>Search for Flights</h1>

<%= form_for(:search) do |f| %>

  <%= f.label :from %>
  <%= f.text_field :from %>
  
  <%= f.label :to %>
  <%= f.text_field :to %>
  
  <%= f.label :date %>
  <%= f.date_select :start_year => Date.today.year %>
  
  <%= f.label :select_trip %>
  <%= f.radio_button :trip, "One Way" %> One way
  <%= f.radio_button :trip, "Two Way" %> Two way
  
  <br/><br/>

  <%= f.submit "Search", class: "btn btn-large  btn-primary" %>
  
<% end %>
